.verde{
    color:green;
}
.rojo{
    color:red;
}
.blanco{
    color: white;
}
.gris{
    color: grey;
}
.negro{
    color: black;
}
.grande{
    font-size: 100px;
}
.menosmed{
    font-size: 25px;
}
.medium{
    font-size: 50px;
}
.chico{
    font-size: 10px;
}
.furat{
    color: gold;
    font-size: 20px;
    background-color: darkviolet;
    font-family: sans-serif;
}

img {
    border-radius: 30%;
}